/*font-family : 'Londrina Shadow', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Orbitron', sans-serif;*/

.fecha {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: rgb(215, 230, 19);
  /*letter-spacing: 0.30em;*/
}

.hora {
  font-family: "londrina shadow", cursive;
  font-size: 3em;
  color: rgb(194, 191, 19);
  letter-spacing: 0.15em;
}

body {
  background: rgb(5, 14, 19);
}

.green {
  text-shadow: 0 0 5px #51ff00, 0 0 10px #51ff00, 0 0 20px #51ff00,
    0 0 40px #51ff00, 0 0 80px #51ff00, 0 0 90px #51ff00, 0 0 100px #51ff00,
    0 0 150px #51ff00;
}





